$color__background-body: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: #00D121;
;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #fff;
$color__text-input: #fff;
$color__text-input-focus: #fff;
$color__link: #fff; //royalblue
$color__link-visited: #fff; //purple
$color__link-hover: #fff; //midnightblue
$color__text-main: #fff;

$color__border-button: none;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
